  .h5p-chat-simulator-chat-panels {
    height: var(--fixed-height);
    list-style: none;
    margin: 0;
    max-height: var(--max-height);
    overflow: hidden;
    padding: 0;

    &.could-have-scrollbar {
      overflow-y: auto;
      padding-right: 1rem;
      scrollbar-gutter: stable;
    }

    .h5p-chat-simulator-chat-panel-dummy {
      text-align: center;
      font-style: italic;

      &.display-none {
        display: none;
      }
    }
  }
